<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iPromoter-5mC Server</title>
</head>

<body>
<div align="center"><font size="6" face="Times New Roman, Times, serif"><strong>Example </strong> </font></div>
<table width="400" border="0" align="center">
    <tbody>
    <tr>
        <td>
            <p><font align="left" size="4" color="#dc143c" face="courier">&gt;locus:(SGIP1)<br>
                TCCTGGCAGCTTCAAAACCCTGGGCTCCGCCACAACCAGGCACAACTGCC
                TCCCTCCAGGTTTCCACTTGGGTGAATGAATAGGCTTGAAGGCGACTCCA
                GATGCAGGAGGCGCGTCGCGGAGAAACGTGTCATTTAGGAGAAAGTTTGT
                TTCCTACAGAGACTGCAGTTGGCAGCTGCAGCCCCAGTCGGTTGCGAGAA
                AAGCTCCCCACCTGGGGAAGCGAGGCCGCTCCCGTGTGCGCTCGGCGGGG
                AGGACGCGGTGGCGGCGGGACTCGAACTCGGTCGTCGAAGGGCGCCCCGC
                AGGGTCCCGTCTGTAGCCCGGACGGCGAGCCCAGGTTGGAGTGGGAGGGA
                GC<strong><u><big>C</big></u></strong>GG<strong><u><big>C</big></u></strong>GTGCACAGCTGTCTTTGGT<strong><u><big>C</big></u></strong>GGGCTCAGGCTTCCGCTCCCTGCC
                TGCTCCCCTTTCCAGCCTCCCGCCCCAGAAACGATCTCGAGCGTTGCCAG
                TTTGATTCCAGAGCCCCACTCGGGTGGGTTCTTTTGTTTCTTTGTTTTAA
                TGACAGTTCCCAGCCCTTCAGCATGTCATGCGCAATTAATTCCCTGGCTC
                TCACGAAGGCAGCTGGGGTGAAATTTCTTCTGCATCATCCTTTTGGGGAT
                GTTTATGATGTGACGTCAGTCGGATTGATTTTTCTCTCTTGAATGAAGGA
                TGGGAGGGGAGAAAGAGAGACGGAGAGAGAGAGAGACGCACAGATGTGCA
                CGGAGGCCACAGACACTGACATTTGGAATTCCTTCAGGGTAAAAGGACAC
                CGGAATGGGAGCTTAGAAGTGTGTTGCTAAGATTTC<strong><u><big>C</big></u></strong>GGCTGCA<strong><u><big>C</big></u></strong>GGAAT
                TATTAAGTTTTTCTTAAAAAAACAAAAAAAGAAAGAAAGAAAGAAAAAGA
                AAAGAACCCCCTCCGCAGCGAGCCACTTAGGTGCTGCTTTCACGCCAGAG
                TCCCCTGTTAAGGTGGCAGCCCTTGATAACTAATCTCGGGCACCCAGCCG
                CTTCTGTAAGCTTAAGGAGACGACGAGGAGGGGCGGGGGAAGTGCGTCAC<br>
                CAGGTGGGGAAGGGGCTGTGTATTTGGTGACAAGCGGGAGG
            </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><font align="left" size="4" color="purple" face="courier">&gt;Example 1(AGTRAP_1)<br>
                CCTCCCCGGTTCAAGCAATTCTCGTGCCTCAGCCTCCTGAGTAGCTGGGA
                CTGCAGGTGCACACCACCATGCCCTGCTAATTTTGGTATTTTTAGTAGAG
                ACGGGGTTTCACCATGTTGGCCAGGCTGGTCTCGAACTACTGAGTTCAGG
                TGATCCACCCTCCTTGGCCTCCCAAAGTGCTGGGATAACAGGGGTGAGCC
                ACTGCGCCCAGCCTCATCTTGTGTTGGTAATAACAATAGCTTGTGTGTCC
                TGCCCATTTACTAAGTGCCGGGCACTGTTCTCTCCTAGAACAAACCGTAG
                TTAGACTCCTCTGAGTCCTCATCTTGACTAGGCCTCGGCCTTGGACCTCT
                GTGTCTTCCTGTCCTTGCTGGGCCTGAGCCTGCATAATAAACCAGTTTCA
                GCAAGAGTCCTGCTAAGTTAGCAAGAACTCCCCCATCCTTGATGTCTCCT
                CCTAGGAATCTTCCATTCCTGCTCCCTCATTCTGCTCTGGCTATAAATCC
                CTCCTTGGTCCTTGTTGTATTCGGTGTTGAGCCCAAACTCTCACTCCATG
                GCAATAACCCTACAGCAAGTCTTGAACAGTACTGGTTTAACAACAGTCCC
                AATAACGTTTTCTTTAACAACAGCAGTTAGCTCATTTAATCCTCATAAGG
                ATCATATGAGGTAGGTAGCCTAAATAGCCCATTTACACAGGGAAGTGGGA
                AGGAGAGAGGGTGCCCCCAAGGATGAGACACAAGCTGTTGCCACATCAGC
                ACTTTGCGCCTGGACGGTCCCCCAGTTGTCCTGGCTGCAGGCAGTCCGAA
                CAGTCCGCTTCCTGGAATATTAGCCAGGCAGGATACGCCCTGGGCGACAG
                AAACTCCAACTTTCGCCAGCGGCCCCCAAGTACTGCCTGGGCGGTGGCGG
                GAGTCTGGAGCTTGGCTGAAGGCGCGAGCTGCCGACGCCGTCTCCTAGCA
                ACCAAGCGGCGGTCACGTGACCCGCTCCAGCCCGTTTCACGTGGTCTTGA<br>
                G
            </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><font align="center" size="4" color="green" face="courier">&gt;Example 2(LOC100129138_1)<br>
                CACCATGTTGGTCAGGCTGGTCTCGAACTCCTGACCTCAGGTGATCCACC
                CACTTTGGCCTCCCAAAGTGTTAGGATTACAGGTGTGACCCACTGTGCCC
                AGCCCCAGTTTTCTAGATTTTAAAAGAACTTCCAGACTTTCCACTATAGC
                AGATCCTGAGGAATATGCCAAGGTTTTGATCTTCCCCTTTCTCGATTTAT
                ATAACTTAGTATGTCTTCAGGATCTGCTCGGAAACAGATCGCTTTTCCTA
                AGATCCCAATGGGTAAGAAAATGCTGCCTTTCTTTGCTGAGATAATGTTT
                GCAATTCAAGTGTTACCTTAAAGGAATGAATTTTACAGGGACCTGTGGCA
                AAATACTGCAGGACAAACTTTGTAAATACAGACCTGCTTTTTCATTTTGT
                TTCCATTTTCAATTAAAGGATCAAAAAGTAGTATGTGGAATACTAGCAAA
                TAATAGTAAAAGAATATATAGCTTGTACTTTTACCATGACATTATTTATT
                ACAGACTTTTTCTTTCCCAGTGAATTTATGTACCAAATATCCTCAAACCT
                AGATTTATTGCTTCTTTAAACATTTAGAGAACAACTTTGAATCCTTATGT
                CAAACTATATACTTTTACAAAACGATCCCACAAGTTGTACATATATTATG
                AATTAGACTAAGTAAAATGTCACAAGATTGAAAAGTTCTATTTTAAATAT
                AAGTGTTAGTGTCTTAAAATAGTATTTGTTAGTATTTACTAGTTGTTTGA
                GAAAGGCAGGCCTCCATAAATTAATTTACTCATGTCTTACTTTTTTTACA
                GGCTTTATTTTTTAGCTACCTAGCCTTAGAAAGATAATGCTGTATTTAAA
                GAAAAAAAAAACACTATCTGTGATAAACCTATATATTTATATCAAAAAAC
                TATTTTCTGTGGCTTAGAAGATAACAAAATAAATACATCCGGCCCCGCTG
                CCGCCATCTTTGTTACGGGCAGCCAGGCCTGGCCGGAGATGCCGAAGTCG<br>
                T
            </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><font align="center" size="4" color="green" face="courier">&gt;Example 3(PNPLA1_6)<br>
                CTCCTGGCGGAGCTTAACAGGCTGAGGCAGCTTCCTGAGCAGCCTGTGGT
                TGCTCCAGCCGGGTAGAGACAGCCACATTCCAAGCTCCGGGGTGGCAGGG
                AAGCTGGGTAGGGAGTTCCTACAGGGAGCGGCAGCCCAGGCTCGGGCAGG
                CAAGTGCTGAAGGGT<br>
            </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><font align="center" size="4" color="green" face="courier">&gt;Example 4(MT1JP_16)<br>
                ACGGGAGAGAGAGGCCGACCCGTGTTCCCCGTGTTGCTGTGTACGGAGGA
                GCGGGTCCGA<br>
            </font>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><font align="center" size="4" color="green" face="courier">&gt;Example 5(Wrong input)<br>
                sadasfsawep23435fASJFIEWAJKasfaSBDHBSFHwasdejsfSFG
                fksSDGgdaddeahhaersf<br>
            </font><br>
            </p>
        </td>
    </tr>
    <tr>
        <td><p>&nbsp;</p>
            <p><strong><font size="4" face="Times New Roman, Times, serif"><strong>NOTE</strong>: The FASTA format for
                the current predictor can be described as follows.</font></strong></p>
            <p><strong><font size="4" face="Times New Roman, Times, serif"><font size="4"
                                                                                 face="Times New Roman, Times, serif"><strong>(1)
                The first line of each query promoter input format must begin with a greater-than ("&gt;") symbol in the
                first column. The word following the "&gt;" symbol is the identifier and description of the sequence,
                but both are optional.</strong></font></font></strong></p><strong><font size="4"
                                                                                        face="Times New Roman, Times, serif"><font
                    size="4" face="Times New Roman, Times, serif"><font size="4"
                                                                        face="Times New Roman, Times, serif"><strong>(2)
                The sequence (in single-character code) begins in a different line and ends if another line starting
                with a "&gt;" appears, which indicates the start of another query promoter.</strong>
            </font></font></font></strong>
            <table cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                </tr>
                <tr>
                </tr>
                </tbody>
            </table>
            <strong><font size="4" face="Times New Roman, Times, serif"><font size="4"
                                                                              face="Times New Roman, Times, serif"><font
                    size="4" face="Times New Roman, Times, serif"><p>&nbsp;</p>
            </font></font></font></strong></td>
    </tr>
    </tbody>
</table>
<div align="right" style="width:50%;">
    <a href="javascript:window.close()">
        <span style="font-size:20px">
            Close
        </span>
    </a>
</div>
<div id="footer" style="font-size:15px">

    <p align="center">Xiao Lab:Bioinformatic Team (<a href="http://www.jci-bioinfo.cn/">Xiao Lab</a>)
        ----------------------------------------------------Contact: jci_zl@163.com</a></p>

</div>
</body>
</html>
