<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iPromoter-5mC Server</title>
</head>

<body>
<div align="center"><font size="6" face="Times New Roman, Times, serif"><strong>Original data description and
    stand-alone software</strong>
</font></div>
<table width="800" border="0" align="center">
    <tbody>
    <tr>
        <td><p>&nbsp;</p>
            <p><strong><font size="4" face="Times New Roman, Times, serif"><strong>NOTE</strong>: The original data
                contains 893,326 DNA sequence samples, each containing 41 bases, which can be downloaded
                here.<a href="./download_all" title="download_all">Experimental data download</a></font></strong></p>
            <p><strong><font size="4" face="Times New Roman, Times, serif"><font size="4"
                                                                                 face="Times New Roman, Times, serif"><strong>(1)
                The benchmark data set contains 893,326 DNA samples, of which 69,750 DNA sequence samples belong to the
                positive subset and 823,576 DNA sequence samples belong to the negative subset, which can be
                downloaded.<a href="./download_benchmark" title="download_benchmark">benchmark data
                    download</a></strong></font></font></strong></p>
            <p><strong><font size="4" face="Times New Roman, Times, serif"><font size="4"
                                                                                 face="Times New Roman, Times, serif"><strong>(2)
                We used 80% of the positive samples and 80% of the negative samples in the benchmark data set as the
                training set, and the remaining 20% as the independent test set. The training set can be downloaded.<a
                        href="./download_train_data" title="download_train_data">train
                    data download</a>, and the independent test set can be downloaded.<a href="./download_test_data"
                                                                                         title="download_test_data">test
                    data download</a>.</strong></font></font></strong></p>
            <p><strong><font size="4" face="Times New Roman, Times, serif">We develop and make available a local
                stand-alone software for the wider research community to use. The stand-alone version of our developed
                method will be beneficial for interested readers to perform local and high-throughput prediction
                analysis using the users’ local computers, in cases where the users have a large number of sequences to
                process and experiment with.<a href="./download_stand_alone_software"
                                               title="download_stand_alone_software">stand-alone software download</a>.</font></strong>
            </p>
            <p><strong><font size="4" face="Times New Roman, Times, serif">We did the same experiment with our model on
                human lung cancer cell lines, and the data sets we used were available.<a
                        href="./download_Supplementary_experimental_data"
                        title="download_Supplementary_experimental_data">download_Supplementary_experimental_data</a>.</font></strong>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<div align="right" style="width:50%;">
    <a href="javascript:window.close()">
        <span style="font-size:20px">
            Close
        </span>
    </a>
</div>
<div id="footer" style="font-size:15px">

    <p align="center">Xiao Lab:Bioinformatic Team (<a href="http://www.jci-bioinfo.cn/">Xiao Lab</a>)
        ----------------------------------------------------Contact: jci_zl@163.com</a></p>

</div>
</body>
</html>
